.nav-margin-bottom{
    margin-bottom: 2.5rem;
}


.error-header{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.bg-major{
    background: #dcc98f!important;
}
.bg-clicked{
    background: #A9A9A9!important;
}
.bg-urgent{
    background: #fd7e14!important;
}
.bg-priority{
    background: #b7a108!important;
}
.bg-lowp{
    background: #f2ce60!important;
}
.card{
    margin-bottom:3rem!important;
}

.filter-form{
    margin-bottom: 2rem!important;
}

 input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

.mbox {   
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 10px 55px 10px 25px;
    padding-left: 4px;
    position:relative;
}

.mbox > span{
    position:absolute;
    top:-8px;
    left:30px;
}

#legend{
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
}

footer{
    padding:1rem;
    background: #e9ecef;
}

.error-badge{
    background: #3f4041;
    color:#fff;
    border-radius: 50% !important;
    padding:8px 15px !important;
}